[alias]

	# Show verbose output about tags, branches or remotes
	tags = tag -l
	branches = branch -a
	remotes = remote -v

	# List aliases
	aliases = config --get-regexp alias


	# Remove branches that have already been merged with master
	# a.k.a. ‘delete merged’
	dm = "!git branch --merged | grep -v '\\*' | xargs -n 1 git branch -d"


	# Show the user email for the current repository.
	whoami = config user.email


[core]
	editor = code --wait

	# Use custom `.gitignore` and `.gitattributes`
	excludesfile = ~/.gitignore
	

[color]

	# Use colors in Git commands that are capable of colored output when
	# outputting to the terminal. (This is the default setting in Git ≥ 1.8.4.)
	ui = auto

[color "branch"]

	current = yellow reverse
	local = yellow
	remote = green

[color "status"]

	added = yellow
	changed = green
	untracked = cyan


[diff]
    tool = default-difftool

[difftool "default-difftool"]
    cmd = code --wait --diff $LOCAL $REMOTE

[user]
	name = Rupak Lamsal
	email = rlamsal@wpi.edu
