[alias]
	st = status
	co = checkout
	ci = commit -a
	ca = commit -a --amend
	rb = rebase
	pf = push --force


	# Show the user email for the current repository.
	whoami = config user.email


[core]
	editor = code --wait

	# Use custom `.gitignore` and `.gitattributes`
	excludesfile = ~/.gitignore
	

[color]

	# Use colors in Git commands that are capable of colored output when
	# outputting to the terminal. (This is the default setting in Git ≥ 1.8.4.)
	ui = auto

[color "branch"]

	current = yellow reverse
	local = yellow
	remote = green

[color "status"]

	added = yellow
	changed = green
	untracked = cyan


[diff]
    tool = default-difftool

[difftool "default-difftool"]
    cmd = code --wait --diff $LOCAL $REMOTE

[user]
	name = Rupak Lamsal
	email = rlamsal@wpi.edu
